<script setup>
import { PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';
import { computed, ref, onMounted, reactive } from 'vue';

import { useSparkleStore } from '../stores/useSparkleStore';
const props = defineProps(['pda']);
const key = new PublicKey(props.pda);

const { getData, getBalance } = useSparkleStore();

const programData = await getData(key)
const balance = await getBalance(key)

</script>
<template>
  <div class="stats shadow w-full mb-3 text-gray-900 dark:text-gray-400 bg-white dark:bg-gray-800">
    <div class="stat">
      <div class="stat-figure text-green-700">
        <i class="bx bx-list-check bx-lg"></i>
      </div>
      <div class="stat-title text-gray-900 dark:text-white">Participatend</div>
      <div class="stat-value">{{ programData?.participants.length }}</div>
      <div class="stat-desc text-gray-900 dark:text-white">on-chain</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-primary">
        <i class="bx bxs-toggle-left bx-lg"></i>
      </div>
      <div class="stat-title text-gray-900 dark:text-white">Status</div>
      <div class="stat-value">{{ programData?.status == true ? 'Active':'Passive'  }}</div>
      <div class="stat-desc text-gray-900 dark:text-white">On-chain</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-primary">
        <i class="bx bx-wallet bx-lg"></i>
      </div>
      <div class="stat-title text-gray-900 dark:text-white">Balance</div>
      <div class="stat-value">{{ balance}}</div>
      <div class="stat-desc text-gray-900 dark:text-white"><i class="solana bx"></i></div>
    </div>
    <div class="stat">
      <div class="stat-figure text-orange-400">
        <i class="bx bxs-bank bx-lg"></i>
      </div>
      <div class="stat-title text-gray-900 dark:text-white">Vault</div>
      <div class="stat-value">{{ (programData?.vault.toNumber() / LAMPORTS_PER_SOL).toFixed(3) }}</div>
      <div class="stat-desc text-gray-900 dark:text-white"><i class="solana bx"></i></div>
    </div>
  </div>
</template>
