<script setup>
const prop = defineProps(['item']);
const item = prop.item;
</script>
<template>
  <div v-if="item.project.logo != null">
    <div class="flex">
      <div class="w-1/4">
        <img :src="item.project.logo" class="h-24" alt="" />
      </div>
      <div class="w-3/4">
        <p class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ item.project.name }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">{{ item.project.twitter }}</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ item.project.description }}</p>
      </div>
    </div>
  </div>
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white mt-5">{{ item.title }}</h5>
  <p class="mb-3 text-lg font-bold text-gray-700 dark:text-gray-100">{{ item.description }}</p>
  <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="item.per_pay">
    Reward : <b class="dark:text-white">{{ item.per_pay / 1000000000 }} <i class="solana bx"></i></b>
  </p>
  <div v-if="item.type == 0">
    <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="JSON.parse(item.data).scope">Your content must contain this text:</p>
    <p class="mb-3 text-lg font-bold text-gray-500 dark:text-gray-100">{{ JSON.parse(item.data).scope }}</p>
    <a :href="'https://twitter.com/intent/tweet?text=' + encodeURIComponent(JSON.parse(item.data).scope)" class="btn btn-info w-full text-white">Tweet <i class='bx bxl-twitter'></i></a>
  </div>
  <div v-if="item.type == 1">
    <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="JSON.parse(item.data).scope">Participants should pay attention :</p>
    <p class="mb-3 text-lg font-bold text-gray-500 dark:text-gray-100">{{ JSON.parse(item.data).scope }}</p>
  </div>

 
  
</template>
