<script setup>
import { PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';
import { computed, ref, onMounted, reactive } from 'vue';

import { useSparkleStore } from '../stores/useSparkleStore';
const props = defineProps(['pda']);
const key = new PublicKey(props.pda);

const { program, provider } = useSparkleStore();

const programData = ref({});
const balance = ref('');

onMounted(async () => {
  const pdaBalance = await provider.connection.getBalance(key);
  const pdaData = await program.account.campaignList.fetch(key);
  balance.value = (pdaBalance / LAMPORTS_PER_SOL).toString();
  programData.value = pdaData;
});
</script>
<template>
  <p class="mb-2 text-xl font-normal text-gray-700 dark:text-gray-400">On-chain Info</p>
  <p class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-100">{{ key }}</p>

  <div class="grid grid-cols-4 gap-2">
    <div>
      <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">PDA balance</p>
      <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ balance }}</p>
    </div>
    <div>
      <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">Post Share</p>
      <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.perPay / LAMPORTS_PER_SOL }}</p>
    </div>
    <div>
      <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">PDA Vault</p>
      <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.vault / LAMPORTS_PER_SOL }}</p>
    </div>
    <div>
      <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">Status</p>
      <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.status }}</p>
    </div>
  </div>
  <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">PDA code</p>
  <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.campaignCode }}</p>

  <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">Campaign link</p>
  <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.url }}</p>

  <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">Campaign link</p>
  <p class="mb-3 text-md font-bold text-gray-500 dark:text-gray-100">{{ programData.owner }}</p>
  <div class="mb-2">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Deposite</label>
    <input placeholder="100 sol" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
  </div>
  <a class="flex items-center cursor-pointer text-white bg-gradient-to-br from-green-800 to-green-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
    <i class="ri-admin-fill"></i>
    <span class="ml-3">Deposite</span>
  </a>
  <a class="mt-3 flex items-center cursor-pointer text-white bg-gradient-to-br from-red-600 to-orange-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
    <i class="ri-admin-fill"></i>
    <span class="ml-3">Close Account & Widraw</span>
  </a>
</template>
