<script setup>
import { LAMPORTS_PER_SOL } from '@solana/web3.js';
import { ref, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useSparkleStore } from '../stores/useSparkleStore';

const props = defineProps(['camp']);
const item = props.camp;
const router = useRouter();
const { programData, getData } = useSparkleStore();

const data = ref();

const list = await getData(item.pubkey);
data.value = list;
function go(id, type) {
  router.push({ name: 'detail', params: { type: type, id } });
}
</script>
<template>
  <tr @click="go(item.code, item.type)" class="hover:bg-gray-200 dark:hover:bg-gray-700 hover:cursor-pointer" v-if="data?.status == true">
    <td class="p-2 text-sm font-bold whitespace-nowrap dark:text-gray-100">
      <div class="flex items-center truncate">
        <img :src="item.project.logo" class="h-12 p-2" />
        <div>
          <p>{{ item.project.name }}</p>
          <p class="text-gray-400 font-normal text-sm">{{ item.project.twitter }}</p>
        </div>
      </div>
    </td>
    <td class="p-2 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
      <p class="font-bold">{{ item.title }}</p>
      <p class="truncate">{{ item.description }}</p>
      <p class="text-gray-400">{{ item.pubkey }}</p>
    </td>
    <td class="p-2 text-sm font-bold whitespace-nowrap dark:text-gray-100">
      <p class="text-sm dark:text-gray-400">Vault:{{ data?.vault / LAMPORTS_PER_SOL }} <i class="solana bx"></i></p>
      <p>Reward: {{ item.per_pay / LAMPORTS_PER_SOL }} <i class="solana bx"></i></p>
    </td>
    <td class="p-2 text-center" >
      <div v-if="item.enabled == 1 && data?.status" class="btn btn-success btn-sm">Active</div>
      <div v-else class="btn btn-warning btn-sm">Passive</div>
    </td>
  </tr>
</template>
