<script setup>
import { PublicKey, LAMPORTS_PER_SOL } from '@solana/web3.js';
import { computed, ref, onMounted, reactive } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { useSparkleStore } from '../stores/useSparkleStore';
import { toast } from 'vue3-toastify';
import router from '../router';
const props = defineProps(['pda', 'id', 'status', 'code', 'onUpdate']);
const key = new PublicKey(props.pda);



const id = parseInt(props.id);
const { deposite, close } = useSparkleStore();

const programData = ref({});
const depositeAmount = ref(0);

const { mutate: updateStatus, onDone } = useMutation(
  gql`
    mutation updateStatus($id: Int!, $status: Int!) {
      changeCampaignEnable(id: $id, enabled: $status) {
        id
      }
    }
  `
);
onDone(() => {
  props.onUpdate();
});
const {
  mutate: deleteCampaign,
  onDone: DeleteEvent,
  onError,
} = useMutation(
  gql`
    mutation updateStatus($code: String!, $val: String!) {
      deleteCampaign(code: $code, val: $val) {
        id
      }
    }
  `
);
const deleteWithSign = async () => {
  const { signature, publicKey } = await window.solana.signMessage(new TextEncoder().encode(props.code), 'utf8');
  var b64 = Buffer.from(signature).toString('base64');
  var pk = Buffer.from(publicKey.toBuffer()).toString('base64');
  let data2 = encodeURIComponent(b64 + 'SPARKDELETE' + pk);
  deleteCampaign({ code: props.code, val: data2 });
};

DeleteEvent(() => {
  toast.success('Now close Your PDA account, and get rent');
  close(props.code, key);
  router.go(-1);
});
</script>
<template>
  <div class="p-4 mt-4 bg-primary rounded-xl shadow-sm sm:p-6 text-white">
    <h2 class="card-title">Control Panel</h2>
    <p>Changing the on-chain status of the campaign.</p>

    <a @click="updateStatus({ id, status: 0 })" class="w-full btn btn-warning btn-sm" v-if="status == 1">Disable</a>
    <a @click="updateStatus({ id, status: 1 })" class="w-full btn btn-success btn-sm" v-if="status == 0">Enable</a>
    <div class="divider my-1"></div>
    <p>Funding the campaign <i class="solana bx"></i></p>
    <div class="relative mt-2 rounded-md shadow-sm">
      <input v-model="depositeAmount" type="number" step="0.2" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="0.00" />
      <div class="absolute inset-y-0 right-0 flex items-center">
        <a @click="deposite(code, depositeAmount, key)" class="btn btn-success btn-sm">Deposit</a>
      </div>
    </div>
    <div class="divider my-1 "></div>
    <p>Deleted campaigns cannot be restored.</p>
    <a @click="deleteWithSign()" class="w-full btn btn-error btn-sm">Delete Campaign</a>
  </div>
</template>
