<script setup>

import { useQuery,  } from '@vue/apollo-composable';
import gql from 'graphql-tag';
const { result, loading } = useQuery(
  gql`
    query stats($id: Int!) {
      stats(id:$id){
        total_profiles
        total_requests
        total_campaigns
        total_active_campaigns
      }
    }
  `,
  {
    id: 1,
  },
);
</script>

<template>
  
  
  <div class="stats shadow w-full mb-3 rounded-lg mt-3 tex-gray-900t dark:text-gray-400 bg-white dark:bg-gray-800" v-if="!loading">
        <div class="stat">
          <div class="stat-figure text-green-400">
            <i class='bx bxs-user-pin bx-lg'></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Users</div>
          <div class="stat-value">{{ result.stats?.total_profiles }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">validated</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-primary">
            <i class="bx bxs-right-arrow bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Total Submission</div>
          <div class="stat-value">{{result.stats?.total_requests}}</div>
          <div class="stat-desc text-gray-900 dark:text-white">Count of submissions</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-pink-600">
            <i class='bx bx-spreadsheet bx-lg' ></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Total Campaign</div>
          <div class="stat-value">{{ result.stats?.total_campaigns }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">Deployed onchain</div>
        </div>
        <div class="stat">
          <div class="stat-figure text-orange-400">
            <i class="bx bx-dollar-circle bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Distributed</div>
          <div class="stat-value">{{ result.stats?.total_active_campaigns }} <i class="solana bx"></i></div>
          <div class="stat-desc text-gray-900 dark:text-white">Total distributed</div>
        </div>
      </div>
</template>
