<script setup>
import Tweet from 'vue-tweet';

import { useQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';

const { result, loading } = useQuery(
  gql`
    query q {
      Roadmaps {
        id
        description
        title
        date
      }
    }
  `
);
</script>
<template>
  <div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">
    <!-- Activity Card -->
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Road Map</h3>
        <a href="#" class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-orange-400 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700"> View all </a>
      </div>
      <ol class="relative border-l border-gray-200 dark:border-gray-700" v-if="!loading">
        <li class="mb-10 ml-4" v-for="item in result.Roadmaps" :key="item.id">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ item.date }}</time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ item.title }}</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{{ item.description }}</p>
        </li>
      </ol>
    </div>
    <!--Carousel widget -->
    <div class="p-1 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <Tweet tweet-id="1634125238324678657"   theme="dark"  />
    </div>
  </div>
</template>
