<script setup>
import { useSideMenuMy } from '../stores/useSideMenuMy';

import { useDark, useToggle } from '@vueuse/core';
import { WalletMultiButton } from 'solana-wallets-vue';

const isDark = useDark();
const side = useSideMenuMy();
const toggleDark = useToggle(isDark);
</script>
<template>
  <nav class="fixed z-30 w-full bg-white border-b max-w-screen-2xl border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <button @click="side.update()" id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 text-gray-600 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <i class="bx bx-menu"></i>
          </button>
          <a href="/" class="flex ml-2 md:mr-24">
            <img src="https://sparkonline.xyz/assets/images/logos.png" class="h-8 mr-3" />
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Spark</span>
          </a>
        </div>
        <div class="flex items-center">
          <button @click="toggleDark()" data-tooltip-target="tooltip-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-3 mr-2">
            <i class="ri-sun-fill" v-if="isDark"></i>
            <i class="ri-moon-line" v-else></i>
          </button>
          <wallet-multi-button dark></wallet-multi-button>
          
          <div id="tooltip-toggle" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
            Toggle dark mode
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
