<script setup>
import { useSideMenuMy } from '../stores/useSideMenuMy';
import { useWallet } from 'solana-wallets-vue';

const side = useSideMenuMy();

const { wallet } = useWallet();
</script>

<template>
  <aside id="sidebar" class="fixed top-0  z-20 flex flex-col flex-shrink-0 w-64 h-full pt-16 font-normal duration-75 transition-width" :class="side.side ? 'hidden' : ''" aria-label="Sidebar">
    <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
        <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
          <div class=" shadow-lg rounded-lg" v-if="wallet">
          
            <ul>
              <li>
                <router-link to="/profile" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                  <i class="bx bxs-user-circle"></i>
                  <span class="ml-3"> Profile</span>
                </router-link>
              </li>
              <li>
                <router-link to="/campaigns" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                  <i class="bx bxs-folder-open"></i>
                  <span class="ml-3"> My Campaigns</span>
                </router-link>
              </li>
              <li>
                <router-link to="/brands" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                  <i class="bx bxs-buildings"></i>

                  <span class="ml-3"> My Brands</span>
                </router-link>
              </li>
              <li></li>
            </ul>
          </div>
          <ul class="pb-2 space-y-2">
            <li>
              <router-link to="/" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                <i class='bx bx-home-smile'></i>
                <span class="ml-3" sidebar-toggle-item="">Dashboard</span>
              </router-link>
            </li>
            <li>
              <router-link to="/nano" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                <i class='bx bx-list-ul'></i>
                <span class="ml-3" sidebar-toggle-item="">Nano Campaigns </span>
              </router-link>
            </li>
            <li>
              <router-link to="/micro" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                <i class='bx bx-list-ul'></i>
                <span class="ml-3" sidebar-toggle-item="">Micro Campaigns</span>
              </router-link>
            </li>

            <li>
              <router-link to="/community-gated" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                <i class='bx bx-list-ul'></i>
                <span class="ml-3" sidebar-toggle-item="">Token-Gated Campaigns </span>
              </router-link>
            </li>
            <li>
              <router-link to="/create" class="flex items-center cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                <i class="ri-admin-fill"></i>

                <span class="ml-3">Create Campaign</span>
              </router-link>
            </li>
          </ul>
          <div class="pt-2 space-y-2">
            <router-link to="/road" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
              <i class="ri-route-line"></i>

              <span class="ml-3">Road Map</span>
            </router-link>
            <a href="https://api.sparkonline.xyz/" target="_blank" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
              <i class="ri-pages-fill"></i>
              <span class="ml-3">Document</span>
            </a>
            <router-link to="/support" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
              <i class="ri-admin-fill"></i>

              <span class="ml-3">Support</span>
            </router-link>
            <router-link to="/faqs" class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
              <i class="ri-admin-fill"></i>

              <span class="ml-3">FAq's</span>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </aside>
</template>
