<template>
  <div>
    <h1>Cüzdan Adresindeki Varlıklar</h1>
    <ul>
      <li v-for="token in tokens" :key="token.id">{{ token.name }}: {{ token.balance }}</li>
    </ul>
  </div>
</template>

<script>
import { Connection,clusterApiUrl } from '@solana/web3.js';
import { useWallet } from 'solana-wallets-vue';
import { ref ,onMounted} from 'vue';
export default {
  setup() {
    const tokens = ref([]);
    const { publicKey, sendTransaction } = useWallet();

    async function fetchData() {
      // Solana ağına bağlan
      const connection = new Connection('https://greatest-summer-liquid.solana-mainnet.discover.quiknode.pro/690c94b8336c7dbd49b45c64231d63ef7330cd5e/');

      // Cüzdan adresiniz
      const address = publicKey.value;
      console.log(address)

      // Cüzdan adresindeki dijital varlıkları listele
      const tokensData = await connection.getAccountInfo(address);
      console.log(tokensData)
      // Elde edilen verileri komponent veri kaynağına ekleyin
      tokens.value = tokensData;
    }

    onMounted(fetchData);

    return {
      tokens,
    };
  },
};
</script>
