<script setup>
import { useRouter, useRoute } from 'vue-router';
import { useWallet } from 'solana-wallets-vue';
import { LAMPORTS_PER_SOL } from '@solana/web3.js';
import { useCampaignDetail } from '../../stores/useCampaignDetail';
import { toast } from 'vue3-toastify';
import ControlPanel from '../../components/ControlPanel.vue';
import CampaignDetailWeb3Stat from '../../components/CampainDetailWeb3Stat.vue';
import { provideApolloClient } from '@vue/apollo-composable';
import { useApolloClient } from '@vue/apollo-composable';
import { useQuery, useMutation } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import moment from 'moment';
import { useSideMenuMy } from '../../stores/useSideMenuMy';
const { client } = useApolloClient();

provideApolloClient(client);

const router = useRouter();
const route = useRoute();

const code = route.params.id;
const { publicKey } = useWallet();
const DETAIL = gql`
  query capaingDetailView($code: String!) {
    aCampaign(code: $code) {
      type
      id
      title
      project_id
      stats {
        total_apply
        average_point
      }
      project {
        name
        logo
        description
        twitter
      }
      requests {
        data
        status
        updated_at
        payment_wallet
        prize
        id
        profile {
          system_wallet
          twitter_handle
          twitter_avatar
        }
      }
      description
      data
      enabled
      per_pay
      code
      pubkey
      created_at
      system_wallet
    }
  }
`;
const { result, loading, refetch,onResult } = useQuery(
  DETAIL,
  {
    code: code,
  },
  {
    fetchPolicy: 'network-only',
  }
);

const side = useSideMenuMy();
onResult(()=>{
  side.side = true;
})

// Mutation

const { mutate: updateStatus, onDone } = useMutation(
  gql`
    mutation updateStatus($id: Int!, $status: Int!) {
      updateStatus(id: $id, status: $status) {
        id
      }
    }
  `
);
onDone(() => {
  refetch();
});
</script>
<template>
  <div class="grid grid-cols-4 gap-4" v-if="!loading">
    <div class="col-span-1">
      <div class="p-4 bg-white rounded-xl shadow-sm sm:p-6 dark:bg-gray-800 text-gray-700 dark:text-gray-400">
        <div class="flex items-center space-x-2 mb-3">
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img :src="result.aCampaign.project.logo" />
            </div>
          </div>
          <div>
            <div class="text-lg font-extrabold">{{ result.aCampaign.project.name }}</div>
            <div class="text-base-content/70 text-sm">{{ result.aCampaign.project.twitter }}</div>
          </div>
        </div>
        <div class="divider"></div>

        <p class="text-gray-700 font-bold dark:text-white">Campaign:</p>
        <p>{{ result.aCampaign.title }}</p>
        <p class="text-gray-700 font-bold dark:text-white">Brief:</p>
        <p>{{ result.aCampaign.description }}</p>

        <p class="text-gray-700 font-bold dark:text-white">Per Share:</p>
        <p>{{ result.aCampaign.per_pay / 1000000000 }} <i class="solana bx"></i></p>
        <p class="text-gray-700 font-bold dark:text-white">Contents:</p>
        <p>{{ JSON.parse(result.aCampaign.data).scope }}</p>
      </div>
      <ControlPanel :onUpdate="refetch" :pda="result.aCampaign.pubkey" :id="result.aCampaign.id" :code="result.aCampaign.code" :status="result.aCampaign.enabled"></ControlPanel>
    </div>
    <div class="col-span-3">
      <div class="stats shadow w-full mb-3 text-gray-900 dark:text-gray-400 bg-white dark:bg-gray-800">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <i class="bx bx-link-alt bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Application</div>
          <div class="stat-value">{{ result.aCampaign.stats.total_apply }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">off-chain</div>
        </div>
        <div class="stat">
          <div class="stat-figure text-pink-600">
            <i class="bx bxs-toggle-left bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Status</div>
          <div class="stat-value">{{ result.aCampaign?.enabled == 1 ? 'Active' : 'Passive' }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">off-chain</div>
        </div>
        <div class="stat">
          <div class="stat-figure text-purple-500">
            <i class="bx bx-timer bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Started</div>
          <div class="stat-value">{{ moment(result.aCampaign.created_at, 'YYYYMMDD').fromNow() }}  </div>
          <div class="stat-desc text-gray-900 dark:text-white">{{ moment(result.aCampaign.created_at, 'YYYYMMDD').format('MMM Do YY') }}</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-yellow-300">
            <i class="bx bxs-star-half bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Average Point</div>
          <div class="stat-value">{{ result.aCampaign.stats.average_point }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">Participated avarage</div>
        </div>
      </div>
      <!-- Stats -->

      <Suspense>
        <CampaignDetailWeb3Stat :pda="result.aCampaign.pubkey"></CampaignDetailWeb3Stat>
      </Suspense>
      <p class="text-xs"><a target="_blank" :href="'https://explorer.solana.com/address/'+result.aCampaign.pubkey +'?cluster=devnet'">PDA : {{ result.aCampaign.pubkey }}</a></p>

      <div class="items-center justify-between lg:flex">
        <div class="lg:mb-0">
          <h3 class="text-xl font-bold text-gray-900 dark:text-white">Sparks Participated</h3>
        </div>
      </div>
      <!-- Table -->

      <div class="flex flex-col mt-6">
        <div class="overflow-x-auto rounded-lg">
          <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow sm:rounded-lg">
              <table class="w-full" v-if="!loading">
                <thead class="bg-gray-50 dark:bg-gray-700 text-left">
                  <tr>
                    <th scope="col" class="p-2">Profile</th>
                    <th scope="col" class="p-2">Status</th>
                    <th scope="col" class="p-2">Content</th>
                    <th scope="col" class="p-2">Action</th>
                  </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800" v-if="result.aCampaign.type == 0">
                  <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" v-for="(item, index) in result.aCampaign.requests" :key="index">
                    <td class="p-2">
                      <img :src="item.profile.twitter_avatar" class="h-6 rounded-full" alt="" />
                      <p class="text-sm">{{ item.profile.twitter_handle }}</p>
                    </td>
                    <td class="">
                      <p class="text-sm">{{ moment(item.updated_at, 'YYYYMMDD').fromNow() }}</p>
                      <p>{{ item.status }}</p>
                    </td>

                    <td class="text-sm">
                      <p>
                        <a class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-orange-400 dark:text-primary-500" target="_blank" :href="JSON.parse(item.data).link">{{ JSON.parse(item.data).link }}</a>
                      </p>
                      <p>{{ item.not }}</p>
                    </td>
                    <td class="flex py-4 gap-1 content-center items-center justify-self-center" v-if="item.status == 'Done'">
                      <a target="_blank">donate</a>
                    </td>
                  </tr>
                </tbody>
                <tbody class="bg-white dark:bg-gray-800" v-if="result.aCampaign.type == 1">
                  <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" v-for="(item, index) in result.aCampaign.requests" :key="index">
                    <td class="p-2">
                      <img :src="item.profile.twitter_avatar" class="h-6 rounded-full" alt="" />
                      <p class="text-sm">{{ item.profile.twitter_handle }}</p>
                    </td>
                    <td class="p-2">
                      <p class="text-sm">{{ moment(item.updated_at, 'YYYYMMDD').fromNow() }}</p>
                      <p>{{ item.status }}</p>
                    </td>

                    <td class="text-sm">
                      <p v-if="item.status == 'Pending'">{{ JSON.parse(item.data).intent }}</p>
                      <p v-else>
                        <a class="inline-flex items-center text-sm font-medium rounded-lg text-orange-400 dark:text-primary-500" target="_blank" :href="JSON.parse(item.data).link">{{ JSON.parse(item.data).link }}</a>
                      </p>
                      <p>{{ item.not }}</p>
                    </td>
                    <td class="flex py-4 gap-1 content-center items-center justify-self-center" v-if="item.status == 'Pending'">
                      <a @click="updateStatus({ id: parseInt(item.id), status: 1 })" class="btn btn-success btn-sm"><i class="bx bx-check-circle"></i></a>
                      <a @click="updateStatus({ id: parseInt(item.id), status: 4 })" class="btn btn-error btn-sm"><i class="bx bx-x-circle"></i></a>
                    </td>
                    <td class="flex py-4 gap-1 content-center items-center justify-self-center" v-if="item.status == 'Done'">donate</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center text-gray-900 dark:text-white" v-else>
                <i class="bx bx-loader bx-spin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
