<script setup>
import { useQuery, useMutation } from '@vue/apollo-composable';
import { useCampaignDetail } from '../../stores/useCampaignDetail';
import { useSparkleStore } from '../../stores/useSparkleStore';

import gql from 'graphql-tag';
import { useRouter } from 'vue-router';
import { useWallet } from 'solana-wallets-vue';
import { LAMPORTS_PER_SOL } from '@solana/web3.js';
const { creatCampaign } = useSparkleStore();
const route = useRouter();
const { publicKey } = useWallet();
const { set } = useCampaignDetail();
const { result, loading, refetch } = useQuery(
  gql`
    query q($system_wallet: String!) {
      myCampaign(system_wallet: $system_wallet) {
        type
        title
        project {
          name
          logo
          description
          twitter
        }
        description
        enabled
        per_pay
        code
        pubkey
        system_wallet
      }
    }
  `,
  {
    system_wallet: publicKey,
  },
  {
    fetchPolicy: 'network-only',
  }
);
function go(item) {
  set(item);
  route.push({ name: 'campaignDetail', params: { id: item.code } });
}

const {
  mutate: updateCampaignPubkeyResolver,
  loading: updateLoader,
  onDone: onDoneUpdate,
} = useMutation(
  gql`
    mutation updateCampaignPubkeyResolver($pubkey: String!, $code: String!) {
      updateCampaignPubkeyResolver(pubkey: $pubkey, code: $code) {
        id
      }
    }
  `
);
async function createOnChain(item) {
  let cloner = { ...item };

  cloner.per_pay = parseInt(cloner.per_pay) / 1000000000;
  console.log(cloner);
  const pda = await creatCampaign(cloner);
  updateCampaignPubkeyResolver({
    pubkey: pda,
    code: cloner.code,
  });
}
onDoneUpdate(() => {
  refetch();
});
</script>
<template>
  <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <!-- Card header -->

    <div class="items-center justify-between lg:flex">
      <div class="mb-4 lg:mb-0">
        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">My Campaigns</h3>
        <span class="text-base font-normal text-gray-500 dark:text-gray-400">All your previously created events on the system</span>
      </div>
      <router-link to="/create" class="flex items-center cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        <i class="ri-admin-fill"></i>
        <span class="ml-3">Create New Campaign</span>
      </router-link>
    </div>
    <!-- Table -->

    <div class="flex flex-col mt-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <table class="table-fixed w-full" v-if="!loading">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th class="w-2/12 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Brand</th>
                  <th class="w-7/12 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Campaign</th>
                  <th class="w-1/12 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Per Share</th>
                  <th class="w-1/12 p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Status</th>
                  <th class="w-1/12 p-4 text-xs font-medium text-center text-gray-500 uppercase dark:text-white">Action</th>
                </tr>
              </thead>
              <tbody class="bg-white dark:bg-gray-800" v-if="!loading">
                <tr class="hover:bg-gray-200 dark:hover:bg-gray-700" v-for="(item, index) in result.myCampaign">
                  <td class="p-2 text-sm font-bold whitespace-nowrap dark:text-gray-100">
                    <div class="flex items-center">
                      <img :src="item.project.logo" class="h-12" />
                      <div>
                        <p>{{ item.project.name }}</p>
                        <p class="text-gray-400 font-normal text-sm">{{ item.project.twitter }}</p>
                      </div>
                    </div>
                  </td>
                  <td class="p-2 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                    <p class="font-bold">{{ item.title }}</p>
                    <p class="text-ellipsis overflow-hidden ...">{{ item.description }}</p>
                    <p class="text-ellipsis text-sm text-gray-500 overflow-hidden ...">{{ item.code }}</p>
                    <p class="text-gray-400">{{ item.pubkey }}</p>
                  </td>
                  <td class="p-2 text-sm font-bold whitespace-nowrap dark:text-gray-100">{{ item.per_pay / LAMPORTS_PER_SOL }} <i class="solana bx"></i></td>
                  <td class="p-2 text-sm font-bold whitespace-nowrap dark:text-gray-100">{{ item.enabled ? 'Enabled' : 'Disabled' }}</td>
                  <td class="flex justify-center items-center" v-if="item.pubkey">
                    <a @click="go(item)" class="btn btn-info btn-sm my-6">Detail</a>
                  </td>
                  <td class="flex justify-center items-center" v-else="item.pubkey == null">
                    <a @click="createOnChain(item)" class="btn btn-primary btn-sm my-6">Deploy</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center text-gray-900 dark:text-white" v-else>
              <i class="bx bx-loader bx-spin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
