<script setup lang="ts">
import { useMutation } from '@vue/apollo-composable';
import { useWallet } from 'solana-wallets-vue';

import gql from 'graphql-tag';
import {  useRouter } from 'vue-router';
import { useCampaignRequestDetail } from '../../stores/useCampaignRequestDetail';
import { ref } from 'vue';
import { toast } from 'vue3-toastify';

const { publicKey } = useWallet();
const { campaign } = useCampaignRequestDetail();
const router = useRouter();
if(campaign === undefined){
  toast.error("Woops something is missing");
  router.go(-1);
}
const link = ref();
const { mutate: SubmitAppliement, loading: sendMessageLoading,onDone } = useMutation(
  gql`
    mutation createCampaignRequesResolver($id:Int!,$link: String!) {
      addLink(id: $id,link: $link) {
        id
      }
    }
`, () => ({
    variables: {
      id: parseInt(campaign.id),
      link: link.value,
    },
    update: (cache, { data: { sendMessage } }) => {
      let data = cache.reset();
    }
  })
  
);
onDone(()=>{
  toast.success("Updated your content.");
  router.go(-1);
})
</script>
<template>
  <a @click="router.go(-1)" class="text-gray-900 dark:text-white"> <i class="bx bx-chevron-left"></i> Back </a>

  <section class="bg-white dark:bg-gray-900" v-if="campaign !== undefined">
    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
      <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div v-if="campaign.campaign.project.logo != null">
          <div class="flex">
            <div class="w-1/4">
              <img :src="campaign.campaign.project.logo" class="h-24" alt="" />
            </div>
            <div class="w-3/4">
              <p class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ campaign.campaign.project.name }}</p>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{ campaign.campaign.project.twitter }}</p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ campaign.campaign.project.description }}</p>
            </div>
          </div>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white mt-5">{{ campaign.campaign.title }}</h5>
        <p class="mb-3 text-lg font-bold text-gray-700 dark:text-gray-100">{{ campaign.campaign.description }}</p>
        <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="JSON.parse(campaign.data).intent">You need to send this tweet in full:</p>
        <p class="mb-3 text-lg font-bold text-gray-500 dark:text-gray-100">{{ JSON.parse(campaign.data).intent }}</p>
        <a target="_blank" class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" :href="'https://twitter.com/intent/tweet?text=' + encodeURIComponent(JSON.parse(campaign.data).intent)"> Tweet</a>

        <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="campaign.campaign.per_pay">
          The amount you will earn : <b class="dark:text-white">{{ campaign.campaign.per_pay / 1000000000 }}</b>
        </p>
      </div>
      <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3">
        <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-100 dark:border-green-500">Nano</span>

        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Submit Your Content</h2>
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Url</label>
            <input v-model="link" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" />
          </div>
        </div>
        <a v-on:click="SubmitAppliement()" class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-if="!sendMessageLoading"> Submit </a>
        <a class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-else> Sending... </a>
      </div>
    </div>
  </section>
</template>
