<script setup lang="ts">
import { useWallet } from 'solana-wallets-vue';
import { reactive, watch, ref, onMounted, computed } from 'vue';
import { useQuery, useMutation } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { useRouter } from 'vue-router';

import { useSparkleStore } from '../../stores/useSparkleStore';
import { toast } from 'vue3-toastify';
const router = useRouter();

const { wallet, creatCampaign } = useSparkleStore();
type CreateCampaigntInput = {
  type: Number;
  title: string;
  per_payproject_id: Number;
  description: string;
  data: string;
  per_pay: number;
  code: string;
  pubkey: string;
  system_wallet: any;
  project: any;
  project_id: Number;
};
const formData: CreateCampaigntInput = reactive({} as CreateCampaigntInput);
function dec2hex(dec) {
  return dec.toString(16).padStart(2, '0');
}

function generateId(len) {
  var arr = new Uint8Array((len || 40) / 2);
  window.crypto.getRandomValues(arr);
  return Array.from(arr, dec2hex).join('');
}
formData.code = generateId(30);
formData.system_wallet = wallet?.publicKey.toString();
formData.type = 0;

const data: any = reactive({});
const selectedProject: any = ref(0);
const onChainCreated: any = ref(false);

const { result, loading, onResult } = useQuery(
  gql`
    query q($system_wallet: String!) {
      myProject(system_wallet: $system_wallet) {
        twitter
        discord
        name
        description
        id
        logo
      }
    }
  `,
  {
    system_wallet: wallet?.publicKey.toString(),
  },
  {
    fetchPolicy: 'network-only',
  }
);
onResult((data) => {
  if (!data.data.myProject.length) {
    toast.info('You need to create brand first');
    router.push({ name: 'brandsCreate' });
  }
});
const {
  mutate: createCampaignResolver,
  loading: sendMessageLoading,
  onDone,
} = useMutation(
  gql`
    mutation createCampaignResolver($input: CreateCampaigntInput!) {
      createCampaignMutation(input: $input) {
        id
      }
    }
  `,
  {
    variables: {
      input: formData,
    },
  }
);
watch(
  () => data,
  (newVal) => {
    formData.data = JSON.stringify(newVal);
  },
  { deep: true }
);

onDone(() => {
  onChainCreated.value = true;
  toast.success('Your Campaign is success full created off-chain, now ready to go');
});
function createOffChain() {
  let requestData = { ...formData };
  requestData.project_id = parseInt(selectedProject.value?.id);
  requestData.per_pay = requestData.per_pay * 1000000000;
  console.log();
  createCampaignResolver({ input: requestData });
}
const {
  mutate: updateCampaignPubkeyResolver,
  loading: updateLoader,
  onDone: onDoneUpdate,
} = useMutation(
  gql`
    mutation updateCampaignPubkeyResolver($pubkey: String!, $code: String!) {
      updateCampaignPubkeyResolver(pubkey: $pubkey, code: $code) {
        id
      }
    }
  `
);

onDoneUpdate(() => {
  router.push({ name: 'campaign' });
});

async function createOnChain() {
  const pda = await creatCampaign(formData);
  updateCampaignPubkeyResolver({
    pubkey: pda,
    code: formData.code,
  });
}
</script>
<template>
  <section class="bg-white dark:bg-gray-900">
    <div class="grid gap-2 sm:grid-cols-2 sm:gap-2">
      <form action="#" class="p-3">
        <h2 class="mb-4 text-5xl font-bold text-gray-900 dark:text-white">Create</h2>
        <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Nano Campaign</h2>
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="sm:col-span-2" v-if="loading || result.myProject == null">
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert"><span class="font-medium">Warning!</span> Please create brand first</div>
          </div>
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-2" v-else>
            <div class="sm:col-span-2">
              <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Brand</label>
              <select v-model="selectedProject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option selected disabled value="0" class="text-white">Plesae Select Brand</option>
                <option v-if="loading" selected disabled>Loadings</option>
                <option :value="item" v-for="(item, index) in result.myProject" v-else>{{ item.name }}</option>
              </select>
            </div>

            <div class="sm:col-span-2">
              <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Campaign Title</label>
              <input v-model="formData.title" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Title" />
            </div>
            <div class="sm:col-span-2">
              <label for="item-weight" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Brief</label>
              <textarea maxlength="140" v-model="formData.description" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="breif about your campaigns"></textarea>
              <p>Please describe exactly what you want the influencers to do for your campaign</p>
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contents</label>
              <input v-model="data.scope" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="content" />
              <p>The text that must be included in the tweets of the participant.</p>
            </div>
            <div class="sm:col-span-2">
              <label for="item-weight" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Reward <i class="solana bx"></i></label>
              <input v-model.number="formData.per_pay" type="number" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="SOL Per pay for participant" />
              <p>What you are paying to each participant</p>
            </div>

            <a v-if="!onChainCreated" @click="createOffChain()" class="flex items-center cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create</a>
          </div>
        </div>
      </form>

      <div>
        <h2 class="mb-4 text-5xl font-bold text-gray-900 dark:text-white">Approve</h2>
        <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Nano Campaign</h2>
        <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div v-if="selectedProject.logo != null">
            <div class="flex">
              <div class="w-1/4">
                <img :src="selectedProject.logo" class="h-24" alt="" />
              </div>
              <div class="w-3/4">
                <p class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ selectedProject.name }}</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">@{{ selectedProject.twitter }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ selectedProject.description }}</p>
              </div>
            </div>
          </div>
          <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white mt-5">{{ formData.title }}</h5>
          <p class="mb-3 text-lg font-bold text-gray-700 dark:text-gray-100">{{ formData.description }}</p>
          <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="data.scope">Your content must contain this text:</p>
          <p class="mb-3 text-lg font-bold text-gray-500 dark:text-gray-100">{{ data.scope }}</p>
          <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400" v-if="formData.per_pay">
            Reward : <b class="dark:text-white">{{ formData.per_pay }} <i class="solana bx"></i></b>
          </p>

          <div v-if="onChainCreated">
            <a @click="createOnChain()" class="block w-full cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-10 text-center" v-if="!updateLoader">Ready to go </a>
          </div>
          <div v-else class="flex item-center justify-center items-center">
            <div class="alert alert-info shadow-lg">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span> Please create campings first</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
