<script setup lang="ts">
import { useQuery, useMutation } from '@vue/apollo-composable';
import { WalletMultiButton, useWallet } from 'solana-wallets-vue';

import gql from 'graphql-tag';
import { useRoute, useRouter } from 'vue-router';
import CampaignDetailCard from '../../components/CampaingDetailCard.vue';
import { reactive, watch } from 'vue';
import { toast } from 'vue3-toastify';
const { publicKey } = useWallet();
const data: any = reactive({});

const route = useRoute();
const router = useRouter();
const type = route.params.type;
const code = route.params.id;

const { result, loading } = useQuery(
  gql`
    query campaingDetail($code: String!) {
      aCampaign(code: $code) {
        type
        title
        id
        project_id
        project {
          name
          logo
          description
          twitter
        }
        description
        data
        enabled
        per_pay
        code
        pubkey
        system_wallet
      }
    }
  `,
  {
    code: code,
  },
  {
    fetchPolicy: 'network-only',
  }
);

type createCampaignRequesInput = {
  code: string | string[];
  data: string;
  payment_wallet: string | null;
  system_wallet: any;
};
const formData: createCampaignRequesInput = reactive({} as createCampaignRequesInput);
formData.system_wallet = publicKey.value?.toString();
formData.code = code;

watch(
  () => data,
  (newVal) => {
    formData.data = JSON.stringify(newVal);
  },
  { deep: true }
);
const {
  mutate: SubmitAppliement,
  loading: sendMessageLoading,
  onDone,
} = useMutation(
  gql`
    mutation createCampaignRequesResolver($input: createCampaignRequesInput!) {
      createCampaignRequesResolver(input: $input) {
        id
      }
    }
  `,
  {
    variables: {
      input: formData,
    },
  }
);
onDone(() => {
  router.go(-1);
  toast.success('Your request has been sent');
});
</script>
<template>
  <a @click="router.go(-1)" class="btn btn-xs btn-primary"> <i class="bx bx-chevron-left"></i> Back </a>
  <template v-if="publicKey">
    <section class="bg-white dark:bg-gray-900 mt-2" v-if="type == '0'">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6" v-if="!loading">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <CampaignDetailCard :item="result.aCampaign"></CampaignDetailCard>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3">
          <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-100 dark:border-green-500">Nano</span>

          <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Submit Your Content</h2>

          <div class="grid gap-4 sm:grid-cols-2 sm:gap-2">
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Link</label>
              <input v-model="data.link" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Link" />
              <p class="taxt-sm ext-gray-900 dark:text-gray-500">Paste your link that is suitable for the campaign with the system.</p>
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Wallet</label>
              <div class="flex items-center gap-2">
                <div class="w-5/6"><input v-model="formData.payment_wallet" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="wallet" /></div>
                <div class="w-1/6">
                  <a @click="formData.payment_wallet = publicKey?.toString()" class="btn btn-primary w-full btn-md"> copy</a>
                </div>
              </div>
            </div>
          </div>
          <a v-on:click="SubmitAppliement()" class="btn btn-success w-full text-white mt-2" v-if="!sendMessageLoading"> Submit</a>
          <div class="alert alert-success shadow-lg" v-else>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span>Your application is being processed.</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white dark:bg-gray-900 mt-4" v-if="type == '1'">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6" v-if="!loading">
        <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <CampaignDetailCard :item="result.aCampaign"></CampaignDetailCard>
        </div>
        <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3">
          <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-100 dark:border-green-500">Nano</span>

          <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Submit Your Content</h2>

          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
              <textarea v-model="data.intent" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a content..."></textarea>
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Wallet</label>
              <div class="flex items-center gap-2">
                <div class="w-5/6"><input v-model="formData.payment_wallet" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="wallet" /></div>
                <div class="w-1/6"><a @click="formData.payment_wallet = publicKey?.toString()" class="flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Copy</a></div>
              </div>
            </div>
          </div>
          <a v-on:click="SubmitAppliement()" class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-if="!sendMessageLoading"> Submit </a>
          <a class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-else> Sending... </a>
        </div>
      </div>
    </section>
    <section class="bg-white dark:bg-gray-900 mt-4" v-if="type == '2'">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6" v-if="!loading">
        <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <CampaignDetailCard :item="result.aCampaign"></CampaignDetailCard>
        </div>
        <div class="w-full mt-7 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3">
          <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-100 dark:border-green-500">Nano</span>

          <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Submit Your Content</h2>

          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
              <textarea v-model="data.intent" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a content..."></textarea>
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Wallet</label>
              <input v-model="formData.payment_wallet" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="wallet" />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select NFT</label>
            <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected>Sparkle #1</option>
              <option value="TV">Sparkle #2</option>
              <option value="PC">Sparkle #3</option>
            </select>
          </div>
          <a v-on:click="SubmitAppliement()" class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-if="!sendMessageLoading"> Submit </a>
          <a class="mt-5 flex items-center cursor-pointer text-white bg-gradient-to-br from-blue-800 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" v-else> Sending... </a>
        </div>
      </div>
    </section>
  </template>
  <template v-else>
    <div class="flex justify-center items-center h-96">
      <wallet-multi-button dark logo="https://sparkonline.xyz/assets/images/logos.png"></wallet-multi-button>
    </div>
  </template>
</template>
