<script setup lang="ts">
import { reactive } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { useWallet } from 'solana-wallets-vue';
import router from '../../router';

type CreateProjectInput = {
  twitter: String;
  discord: String;
  link: String;
  name: String;
  description: String;
  system_wallet: any;
  logo: String;
};
const formData: CreateProjectInput = reactive({} as CreateProjectInput);

const { publicKey } = useWallet();

formData.system_wallet = publicKey;
formData.discord = "";
formData.description = "";
const { mutate: createProjectResolver, onDone } = useMutation(
  gql`
    mutation createProjectResolver($twitter: String!, $discord: String!, $link: String!, $name: String!, $description: String!, $system_wallet: String!, $logo: String!) {
      createProjectResolver(twitter: $twitter, discord: $discord, link: $link, name: $name, description: $description, system_wallet: $system_wallet, logo: $logo) {
        id
      }
    }
  `,
  () => ({
    variables: { ...formData },
  })
);

onDone((result) => {
  router.back();
});
</script>
<template>
  <section class="bg-white dark:bg-gray-900 card p-3">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Create Brands</h2>

      <div class="grid grid-cols-2 gap-3">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-900 dark:text-white">Name <span class="text-red-500">*</span></label>
          <input v-model="formData.name" type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand name" required />
          <p class="text-sm text-gray-400">Your brand name for the campaign</p>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Logo <span class="text-red-500">*</span></label>
          <input v-model="formData.logo" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand logo url" required />
          <p class="text-sm text-gray-400">Your brand logo url address</p>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Twitter <span class="text-red-500">*</span></label>
          <input v-model="formData.twitter" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand twitter handle" required />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Link <span class="text-red-500">*</span></label>
          <input v-model="formData.link" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand web page link" required />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Discord</label>
          <input v-model="formData.discord" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand discord link" required />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <input v-model="formData.description" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Brand description in 250 char" required />
        </div>
        <a @click=" createProjectResolver(formData)" class="btn btn-success mt-2 col-end-auto">Create </a>

      </div>
    </div>
  </section>
</template>
