<script setup>
import { useWallet } from 'solana-wallets-vue';
import { useQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { onMounted } from 'vue';
import router from '../../router';
import { useProjectStore } from '../../stores/useProjectStore';
const {set} = useProjectStore();
const { publicKey } = useWallet();
const { result, loading, error, refetch } = useQuery(
  gql`
    query q($system_wallet: String!) {
      myProject(system_wallet: $system_wallet) {
        twitter
        discord
        name
        id
        description
        logo
        link
      }
    }
  `,
  {
    system_wallet: publicKey.value,
  }
);
onMounted(() => {
  refetch();
});
function go(item){
  set(item)
  router.push({name: 'brandsEdit', params :{id:item.id}});
}
</script>
<template>
  <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <!-- Card header -->

    <div class="items-center justify-between lg:flex">
      <div class="mb-4 lg:mb-0">
        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">My Brands</h3>
        <span class="text-base font-normal text-gray-500 dark:text-gray-400">All your previously created micro events on the system</span>
      </div>
      <router-link to="/brands/create" class="flex items-center cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        <i class="ri-admin-fill"></i>
        <span class="ml-3">Create New Brand</span>
      </router-link>
    </div>
    <!-- Table -->
    <div class="flex flex-col mt-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600" v-if="!loading">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Brand Logo</th>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Brand Name</th>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Twitter</th>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Discord</th>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Link</th>
                  <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">Action</th>
                </tr>
              </thead>
              <tbody class="bg-white dark:bg-gray-800">
                <tr class="hover:bg-gray-200 dark:hover:bg-gray-700" v-for="(item, index) in result.myProject" :key="index">
                  <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white"><img :src="item.logo" class="h-12" alt="" /></td>
                  <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">{{ item.name }}</td>
                  <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">{{ item.twitter }}</td>
                  <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">{{ item.discord }}</td>
                  <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">{{ item.link }}</td>
                 
                  <td class="flex justify-center items-center" >
                    <a @click="go(item)" class="btn btn-info btn-sm my-6">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center text-gray-900 dark:text-white" v-else>
              <i class="bx bx-loader bx-spin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
