<script setup>
import DashboardCardsVue from '../components/DashboardCards.vue';
import LastestActivity from '../components/LastestActivity.vue';
import HomeTable from '../components/HomeTable.vue';
</script>

<template>
  <DashboardCardsVue></DashboardCardsVue>
  <HomeTable></HomeTable>
  <LastestActivity></LastestActivity>
</template>
