<script setup>
import { useRouter } from 'vue-router';
import { useQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { LAMPORTS_PER_SOL } from '@solana/web3.js';
import CampaingTableItem from '../components/CampaingTableItem.vue'

const route = useRouter();

function go(id) {
  route.push({ name: 'detail', params: { type: 0, id } });
}

const { result, loading } = useQuery(
  gql`
    query q {
      Campaign(type : 0,enabled:1) {
        type
        title
        project_id
        project {
          name
          logo
          description
          twitter
        }
        description
        data
        enabled
        per_pay
        code
        pubkey
        system_wallet
      }
    }
  `
);
</script>
<template>
  <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <!-- Card header -->
    <div class="items-center justify-between lg:flex">
      <div class="mb-4 lg:mb-0">
        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Nano Campaign</h3>
        <span class="text-base font-normal text-gray-500 dark:text-gray-400">All Nano events in the system</span>
      </div>
    </div>
    <!-- Table -->
    <div class="flex flex-col mt-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <table class="table-fixed w-full" v-if="!loading">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th class="w-2/12 px-2 py-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Brand</th>
                  <th class="w-7/12 px-2 py-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Campaign</th>
                  <th class="w-2/12 px-2 py-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-white">Vault - per share</th>
                  <th class="w-1/12 px-2 py-4 text-xs font-medium text-center text-gray-500 uppercase dark:text-white">Status</th>
                </tr>
              </thead>
              <tbody class="bg-white dark:bg-gray-800" v-if="!loading">
                  <Suspense v-for="(item, index) in result.Campaign">
                    <CampaingTableItem :camp="item"></CampaingTableItem>
                  </Suspense>
              </tbody>
            </table>
            <div class="text-center text-gray-900 dark:text-white" v-else>
              <i class="bx bx-loader bx-spin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
