<script setup>
import { WalletMultiButton, useWallet } from 'solana-wallets-vue';
import { useQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { LAMPORTS_PER_SOL } from '@solana/web3.js';
import { useRouter } from 'vue-router';
import { useCampaignRequestDetail } from '../stores/useCampaignRequestDetail';
import moment from 'moment';

const router = useRouter();

const { publicKey } = useWallet();
const { set } = useCampaignRequestDetail();
const loginTwitter = async () => {
  const { signature, publicKey } = await window.solana.signMessage(new TextEncoder().encode('Welcome to spark'), 'utf8');
  var b64 = Buffer.from(signature).toString('base64');
  var pk = Buffer.from(publicKey.toBuffer()).toString('base64');
  let data2 = encodeURIComponent(b64 + 'SPARKABO' + pk);
  window.location = 'https://api.sparkonline.xyz/auth/redirect?message=' + data2;
};
const { result, loading } = useQuery(
  gql`
    query q($system_wallet: String!) {
      myProfile(system_wallet: $system_wallet) {
        system_wallet
        twitter_avatar
        twitter_handle
        twitter_id
        stats {
          total_apply
          total_follower
          total_worth
          total_point
          total_expectant
        }
        application {
          prize
          id
          status
          not
          data
          payment_wallet
          updated_at
          campaign {
            type
            title
            project_id
            project {
              name
              logo
              description
              twitter
            }
            description
            data
            enabled
            per_pay
            code
            pubkey
            system_wallet
          }
        }
      }
    }
  `,
  {
    system_wallet: publicKey.value,
  },
  {
    fetchPolicy: 'network-only',
  }
);

function go(item) {
  set(item);
  router.push({ name: 'addlink' });
}
</script>
<template>
  <section class="bg-white dark:bg-gray-900 p-2" v-if="publicKey && !loading">
    <div class="" v-if="result && result.myProfile != null">
      <div class="p-2 bg-white  rounded-lg shadow-sm   dark:bg-gray-800">
        <div class="flex items-center">
          <img :src="result.myProfile.twitter_avatar" class="h-12 rounded-full mx-2" />
          <div>
            <p class="text-black dark:text-white font-bold text-lg">{{ result.myProfile.twitter_handle }}</p>
            <p class="text-gray-400 font-normal">{{ result.myProfile.system_wallet }}</p>
          </div>
        </div>
      </div>
      <div class="stats shadow w-full mb-3 rounded-lg mt-3 text-gray-900 dark:text-gray-400 bg-white dark:bg-gray-800">
        <div class="stat">
          <div class="stat-figure text-green-700">
            <i class="bx bx-money-withdraw bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Expectant</div>
          <div class="stat-value">{{ result.myProfile.stats.total_expectant }} <i class="solana bx"></i></div>
          <div class="stat-desc text-gray-900 dark:text-white">On-chain</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-primary">
            <i class="bx bxs-right-arrow bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Submission</div>
          <div class="stat-value">{{ result.myProfile.stats.total_apply }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">Count of submission</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-primary">
            <i class="bx bx-dollar-circle bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Earnings</div>
          <div class="stat-value">{{ result.myProfile.stats.total_worth }} <i class="solana bx"></i></div>
          <div class="stat-desc text-gray-900 dark:text-white">Total success</div>
        </div>
        <div class="stat">
          <div class="stat-figure text-orange-400">
            <i class="bx bxs-bank bx-lg"></i>
          </div>
          <div class="stat-title text-gray-900 dark:text-white">Spark Score</div>
          <div class="stat-value">{{ result.myProfile.stats.total_point }}</div>
          <div class="stat-desc text-gray-900 dark:text-white">Average score</div>
        </div>
      </div>
      <div class="p-4 bg-white  rounded-lg shadow-sm  sm:p-6 dark:bg-gray-800">
        <div class="items-center justify-between lg:flex">
          <div class="mb-4 lg:mb-0">
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Latest Sparks</h3>
            <span class="text-base font-normal text-gray-500 dark:text-gray-400">Events and details of your participation in the system.</span>
          </div>
        </div>
        <div class="flex flex-col mt-6">
          <div class="overflow-x-auto rounded-lg">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden shadow sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3">Action Time</th>
                      <th scope="col" class="px-6 py-3">Status</th>
                      <th scope="col" class="px-6 py-3">Payment Wallet</th>
                      <th scope="col" class="px-6 py-3">Prize</th>
                      <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" v-for="(item, index) in result.myProfile.application" :key="index">
                      <td class="px-6 py-4">{{ moment(item.updated_at, 'YYYYMMDD').fromNow() }}</td>

                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p>{{ item.status }}</p>
                      </th>
                      <td class="px-6 py-4">{{ item.payment_wallet }}<br />{{ JSON.parse(item.data).link }}</td>
                      <td class="px-6 py-4">{{ item.prize / LAMPORTS_PER_SOL }} <i class="solana bx"></i></td>

                      <td class="px-6 py-4" v-if="item.status == 'Approved'">
                        <a @click="go(item)" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Please Add Link</a>
                      </td>
                      <td class="px-6 py-4" v-else>
                        <p class="font-medium">No action Need</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="flex justify-center items-center h-96">
        <a @click="loginTwitter" class="cursor-pointer text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Please login twitter</a>
      </div>
    </div>
  </section>
  <section v-else>
    <div class="flex justify-center items-center h-96">
      <wallet-multi-button dark logo="https://sparkonline.xyz/assets/images/logos.png"></wallet-multi-button>
    </div>
  </section>
</template>
