

<script setup>
import { useQuery } from '@vue/apollo-composable';
import gql from 'graphql-tag';
const { result, loading } = useQuery(
  gql`
    query q {
      Roadmaps {
        id
        description
        title
        date
      }
    }
  `
);
</script>

<template>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <h1 class="text-3xl dark:text-white font-bold">Spark Road</h1>
      <ol class="relative border-l border-gray-200 dark:border-gray-700 mt-8" v-if="!loading">
        <li class="mb-10 ml-6"  v-for="road in result.Roadmaps" :key="road.id">
          <span v-if="road.activated" class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-green-500 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-green-600"> </span>
          <span v-else class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-yellow-300 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-300 "> </span>


          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{road.date}}</h3>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{road.title}}</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400" v-html="road.description"></p>
        </li>
      </ol>
    </div>
  </section>
</template>